h1{
    text-align: center;
}
.imagen{
    position:absolute; 
    top: 2px;      
    left: 10px;     
    z-index: 1000;   
}
body{
    background-image: url(Fondo3.avif );
    background-size: cover;
    color: rgb(234, 236, 238);
    font-size: 25px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1{
    color: rgb(220, 173, 20);
    font-size: 70px;
}
h2{
    color: rgb(135, 222, 177);
}
h3{
    color: rgb(88, 217, 240);
}
.Nj{
    color:rgb(66, 149, 62) ;
}
.Jm{
    color: gold;
}