h1{
    text-align: center;
    color: peru;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-size: 60;
}
.imagen{
    position: absolute; 
    top: 2px;      
    left: 10px;     
    z-index: 1000;   
}
body{
    background-image: url(Fondo2.jpg);
    color: aliceblue;
    font-size: 25px;
}
.Han{
    color: rgb(174, 62, 62);
}
h2{
    color: rgb(36, 228, 238);
}
h3{
    color: rgb(102, 156, 81);
}
.JH{
    color: rgb(142, 81, 151);
}
.lineas{
    height: 4px;
background-color: rgb(243, 230, 230);
margin: 25px ;
}