h1{
    text-align: center;
}
.imagen{
    position:absolute; 
    top: 2px;      
    left: 10px;     
    z-index: 1000;   
}

body{
    background-image: url(Fondo4.jpg );
    background-size: cover;
    color: rgb(234, 236, 238);
    font-size: 25px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1{
    color: rgb(185, 45, 45);
    font-size: 70px;
}
h2{
    color: rgb(197, 222, 135);
}
h3{
    color: rgb(88, 240, 205);
}
.Jn{
    color:rgb(251, 255, 170) ;
}
.Sg{
    color: gold;
}