body{
    background-color: rgb(180, 213, 229);
    font-size: 25px;
}
h1{
    color: rgb(141, 0, 0);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
p{
    color: rgb(0, 0, 0);
    
}
a {
    display: block;
    width: fit-content;
    margin: auto;
    padding: 10px;
    border-radius: 50px;
      text-align: center;
    background: rgb(201, 203, 216);
    box-shadow: 0 4px 2px rgba(0,0,0,0.2);
 transition: transform 0.3s, box-shadow 0.6s;
}
a:hover {
    transform: scale(1.05);
    
}
.lineas{
    height: 3px;
background-color: rgb(33, 31, 31);
margin: 25px ;
  }
  h2{
    color: rgb(169, 85, 85);
  }
  .Sub{
    color: rgb(158, 134, 55);
  }
  .Subs{
    color: rgb(43, 141, 94);
  }
  h3{
    color: rgb(45, 160, 156);
  }
  